.form-level {
    border: 1px solid #c5c5c5;
    border-radius: 8px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.password {
    height: 100vh;
    position: relative;
}

.btn-reset {
    background-color: #F9A51A;
}