.card-slider {
    position: relative;
    max-width: 226px;
    margin: 0 auto;
}

.slider-wrapper {
    display: flex;
    position: absolute;
}

.card {
    flex: 1;
    min-width: 226px;
    margin-right: 1rem;
}

.card img {
    width: 100%;
    height: 264px;
}

.active-slide-0 #card-0 {
    border: 2px solid goldenrod;
}

.active-slide-1 #card-1 {
    border: 2px solid goldenrod;
}

.active-slide-2 #card-2 {
    border: 2px solid goldenrod;
}