nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1140px;
    margin: auto;
}

nav div {
    flex-basis: 30%;
    max-width: 30%;
}

nav input {
    width: 80%;
    height: 20px;
    padding: 1rem 0.5rem;
    border-radius: 5px;
    border: 1.5px solid #000;
}

nav img {
    width: 120px;
    height: auto;
    object-fit: contain;
}

nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
}